.App {
  text-align: center;
}

#user_authored_project {
  background-color: grey;
}

#followed_project {
  background-color: rgb(217, 188, 123);
}

#all_projects {
  background-color: rgb(18, 131, 131);
  color: white
}

.project_card {
  width: 300px;
  margin: 2.5%;
  float: left;
  border-style: outset;
  border-width: 2px;
  padding: 8px;
}

.project_page_button {
  margin: 5px auto 5px
}

.project_image {
  width: 300px;
}

.project_card_details {
 text-overflow: ellipsis;
 overflow: hidden;
 white-space: nowrap;
}

.project_page_img {
  width: 75%;
}

.project_page {
  margin: 50px auto;
  width: 60%
}

.p_wrap {
  white-space: pre-line;
  line-height: 30px;
}

.logo {
  width: 50%
}

.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.step-image {
 width: 300px;
 height: auto;
 margin: 0 auto;
}

.new-project-form{
width: 70%;
margin: auto;
}

.projects-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: 10%;
}

.projects-title{
  margin: 20px
}